[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
build = "*"
discordifyText = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3"
